<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../bevy_ui/struct.UiLayoutSystemRemovedComponentParam.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../bevy_ui/struct.UiLayoutSystemRemovedComponentParam.html">../../bevy_ui/struct.UiLayoutSystemRemovedComponentParam.html</a>...</p>
    <script>location.replace("../../bevy_ui/struct.UiLayoutSystemRemovedComponentParam.html" + location.search + location.hash);</script>
</body>
</html>